body {
  background-color: #000000;
}

.NavBar {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  display: flex;
  width: 90%vw;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
.AddBtn,
Button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  margin-right: 1rem;
}
.Stars {
  display: flex;

  margin-left: 4rem;
}
.Stars,
Button {
  margin-left: 1rem;
}
